div{
    height: 200px;
    width: 300px;
    float: left;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.p1{
    background-image: conic-gradient(red,blue,green);
}
.p2{
    background-image: conic-gradient(tomato,blue, green);
}
.p3{
    background-image: conic-gradient(hotpink,royalblue,lightyellow);
}
.p4{
    background-image: conic-gradient(orange 45deg,tomato 180deg,wheat 210deg);
}
.p5{
    background-image: conic-gradient(purple 10%,blue,royalblue 40%);
}
.p6{
    background-image: repeating-conic-gradient(red 10%,blue 20%,tomato 20%);
}
.p7{
    background-image: conic-gradient(black,grey,white);
}
.p8{
    background-image: conic-gradient(red 0deg,red 90deg,blue 90deg,blue 180deg,yellow 180deg,yellow 270deg,blue 270deg);
}