div{
    height: 200px;
    width: 300px;
    float: left;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.p1{
    background-image: radial-gradient(red,blue,tomato);
}
.p2{
    background-image: radial-gradient(ellipse,tomato,blue, red);
}
.p3{
    background-image: radial-gradient(hotpink,royalblue,lightyellow);
}
.p4{
    background-image: radial-gradient(circle,orange,tomato,wheat);
}
.p5{
    background-image: radial-gradient(red 10%,royalblue 40%,tomato);
}
.p6{
    background-image: repeating-radial-gradient(red 10%,blue 20%,tomato 20%);
}
.p7{
    background-image: radial-gradient(red,blue,tomato);
}
.p8{
    background-image: radial-gradient(red,blue,tomato);
}